<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vmbed.thewatertemp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>The Water Temp</name>
    <description>
        An alternate view of water temperature data provided by NOAA CO-OPS.
    </description>
    <author email="gavin@vmbed.com" href="http://vmbed.com">
        Gavin J
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
